@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  60% {
    -webkit-transform: rotate(120deg) rotate(-500deg);
            transform: rotate(120deg) rotate(-500deg);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  60% {
    -webkit-transform: rotate(120deg) rotate(-500deg);
            transform: rotate(120deg) rotate(-500deg);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0a101fe8;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* ELIMINATES SHAKING DURING ANIMATION */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  /* animation-delay: 3s; */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  /* animation-delay: 3s; */
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffe17b), to(#ba9b00));
  background-image: linear-gradient(to right, #ffe17b, #ba9b00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.5px);
          transform: translateY(-0.5px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn--primary {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffe48a), to(#ffdb6e));
  background-image: linear-gradient(to right bottom, #ffe48a, #ffdb6e);
  color: #777;
}

.btn--primary::after {
  background-color: #fff;
}

.btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ffdb6e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffdb6e;
  padding: 3px;
}

.btn-text:hover {
  background-color: #ffdb6e;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2 rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 1rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 0.7rem solid #ffdb6e;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box__icon {
  display: inline-block;
  font-size: 6rem;
  margin-bottom: .5rem;
  -webkit-background-clip: text;
  background-clip: text;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.card {
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 52rem;
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 52rem;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00));
  background: linear-gradient(to right bottom, #fff0bd, #ba9b00);
}

.card__side--back-2 {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00));
  background: linear-gradient(to right bottom, #fff0bd, #ba9b00);
}

.card__side--back-3 {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00));
  background: linear-gradient(to right bottom, #fff0bd, #ba9b00);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  background-position: top center;
  height: 23rem;
  background-blend-mode: multiply;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00)), url("/images/ginkgo-3758236_1920.jpg");
  background-image: linear-gradient(to right bottom, #fff0bd, #ba9b00), url("/images/ginkgo-3758236_1920.jpg");
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00)), url("/images/ginkgo-3758236_1920.jpg");
  background-image: linear-gradient(to right bottom, #fff0bd, #ba9b00), url("/images/ginkgo-3758236_1920.jpg");
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff0bd), to(#ba9b00)), url("/images/ginkgo-3758236_1920.jpg");
  background-image: linear-gradient(to right bottom, #fff0bd, #ba9b00), url("/images/ginkgo-3758236_1920.jpg");
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  text-align: right;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 240, 189, 0.7)), to(rgba(186, 155, 0, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(255, 240, 189, 0.7), rgba(186, 155, 0, 0.7));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 240, 189, 0.7)), to(rgba(186, 155, 0, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(255, 240, 189, 0.7), rgba(186, 155, 0, 0.7));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 240, 189, 0.7)), to(rgba(186, 155, 0, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(255, 240, 189, 0.7), rgba(186, 155, 0, 0.7));
}

.card__details {
  padding: 3rem;
  width: 90%;
  margin: 0 auto;
}

.card__details ul {
  margin: 0 auto;
  list-style: none;
  width: 80%;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.section-about .grid-container {
  width: 100%;
  max-width: 114rem;
}

.section-about .grid-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-about .grid-container .row .col {
  width: 35%;
}

.section-features .grid-container {
  width: 100%;
}

.section-features .grid-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-features .grid-container .row .col {
  width: 20%;
}

.section-tours .grid-container {
  width: 100%;
}

.section-tours .grid-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-tours .grid-container .row .col {
  width: 25%;
}

.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff0bd3a), to(#ba9b00c5)), url("/images/header.jpg");
  background-image: linear-gradient(to right bottom, #fff0bd3a, #ba9b00c5), url("/images/header.jpg");
  /* url('https://pixabay.com/get/e83db0092df4073ed1534705fb094197e171e0dc1eac104491f3c47da1e8b6b8/drone-1816506_1920.jpg'); */
  /* url('https://pixabay.com/get/eb30b60b28f4073ed1534705fb094197e171e0dc1eac104491f3c47ca1edb4b1/mountain-2574006_1920.jpg'); */
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
}

.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-features {
  margin-top: -20vh;
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff0bd3a), to(#ba9b00c5)), url("/images/city-21260_1280.jpg");
  background-image: linear-gradient(to right bottom, #fff0bd3a, #ba9b00c5), url("/images/city-21260_1280.jpg");
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;
}
/*# sourceMappingURL=main.css.map */