.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #fff0bd3a,#ba9b00c5),
        url('/images/header.jpg');
        /* url('https://pixabay.com/get/e83db0092df4073ed1534705fb094197e171e0dc1eac104491f3c47da1e8b6b8/drone-1816506_1920.jpg'); */
        /* url('https://pixabay.com/get/eb30b60b28f4073ed1534705fb094197e171e0dc1eac104491f3c47ca1edb4b1/mountain-2574006_1920.jpg'); */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);

    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height:  3.5rem;
    }

    &__text-container {
        position: absolute;
        top: 40%;
        left: 50%;
        // background-color: red;
        transform: translate(-50%,-50%);
        text-align: center;
    }

}