$color-primary: #ffdb6e;
$color-primary-light: #fff0bd;
$color-primary-dark: #ba9b00;

$color-complimentary: #2941B2;
$color-complimentary-light: #6E87FF;
$color-complimentary-dark: #0D1D65;

$color-secondary-light: #4D7EA4;
$color-secondary-dark: #1C527C;

$color-tertiary-light: #7A53AD;
$color-tertiary-dark: #4A2082;


$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;