@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";




*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;

    box-sizing: border-box;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #fff0bd3a,#ba9b00c5),
        url('https://pixabay.com/get/ea3db00621f4003ed1534705fb094197e171e0dc1eac104491f3c67ea5edb3b1/drone-3819901_1920.jpg');
        /* url('https://pixabay.com/get/e83db0092df4073ed1534705fb094197e171e0dc1eac104491f3c47da1e8b6b8/drone-1816506_1920.jpg'); */
        /* url('https://pixabay.com/get/eb30b60b28f4073ed1534705fb094197e171e0dc1eac104491f3c47ca1edb4b1/mountain-2574006_1920.jpg'); */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 0% 100%);

    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height:  3.5rem;
    }

    &__text-container {
        position: absolute;
        top: 40%;
        left: 50%;
        // background-color: red;
        transform: translate(-50%,-50%);
        text-align: center;
    }

}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* ELIMINATES SHAKING DURING ANIMATION */
    backface-visibility: hidden;
    margin-bottom: 6rem;
    
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        /* animation-delay: 3s; */
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        /* animation-delay: 3s; */
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    60% {
        transform: rotate(120deg) rotate(-500deg);
    }
    80% {
        transform: translate(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translate(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
        &::after {
            transform: scale(1.5);
            opacity: 0;            
        }
    }
    
    &:active {
        transform: translateY(-.5px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }

    }
    
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
       
    // &:hover::after {
    //     transform: scale(1.5);
    //     opacity: 0;
        
    // }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}